// main: ./_elements.scss

main {
  font-size: 5vw;

  @media screen and (min-width: 769px) {
    font-size: 1.3vw;
  }

  @media screen and (min-width: 1048px) {
    font-size: 1.2vw;
  }

  @media screen and (min-width: 1400px) {
    font-size: 0.9vw;
  }

  // steps
  .steps-wrapper {
    background-color: #850e35 !important;
    margin: 0;
    position: relative;
    top: -7vw;

    @media screen and (min-width: 769px) {
      top: unset;
    }

    &--flex {
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 769px) {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
    }

    .steps {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 16px;
      color: #FFECEC;

      @media screen and (min-width: 769px) {
        justify-content: center;
        padding: 0;
      }

      img {
        min-width: 15vw;

        @media screen and (min-width: 769px) {
          max-width: 4.7vw;
          min-width: unset;
        }

        @media screen and (min-width: 1048px) {
          min-width: 3.2vw;
          max-width: 4vw;
        }
      }
    }

    .steps.arrow img {
      min-width: 1.3vw;
      display: none;

      @media screen and (min-width: 769px) {
        max-width: 2vw;
        display: inline;
      }
    }

    .steps p {
      margin-bottom: 0;

      @media screen and (min-width: 769px) {
        word-spacing: -1px;
      }
    }

    .steps-title {
      font-weight: 700;
      font-size: 6vw;

      @media screen and (min-width: 769px) {
        font-size: 1.4vw;
      }

    }

    .step1,
    .step2 {
      border-bottom: 2px solid #fff5e4;

      @media screen and (min-width: 769px) {
        padding-bottom: 0 !important;
        border-bottom: none;
      }
    }
  }

  // thumbnails
  .thumbnails-big, 
  .thumbnails-small {
    padding: 0;
    @media screen and (min-width: 550px) {
      padding: 0 20px;
    }
    @media screen and (min-width: 769px) {
      padding: 0px;
    }
  }

  .thumbnails-big h2,
  .thumbnails-small h2 {
    font-size: 7vw;
    color: #850E35;
    text-transform: uppercase;

    @media screen and (min-width: 769px) {
      font-size: 3vw;
    }
    @media screen and (min-width: 1048px) {
      font-size: 2vw;
    }
  }

  .thumbnail-wrapper {
    position: relative;

    .hover-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.30s;
    }
    .hover-text:hover {
      opacity: 1;
    }
    .hover-text > * { // >* -> target each child element 
      transform: translateY(30px);
      transition: transform 0.3s;
    }
    .hover-text:hover > * {  // >* -> target each child element 
      transform: translateY(0);
    }
    .article-title {
      background-color: #850E35;
      color: #fff5e4;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 7px 0;
      text-align: center;
      position: relative;
      z-index: 1;
      font-size: 4vw;
      padding: 5px;
      @media screen and (min-width: 769px) {
        font-size: 1.8vw;
      }
      @media screen and (min-width: 1048px) {
        font-size: unset;
        padding: 10px;
      }
    }
  }

  .button.thumbnails {
    margin: 0 auto;
    padding: 2vw 0vw !important;
    width: 45vw;
    background-color:#850E35;
    border-radius: 60px;

    @media screen and (min-width: 769px) {
      margin: 0 auto;
      padding: 1vw 1vw !important;
      width: 20vw;
    }
    @media screen and (min-width: 1048px) {
      margin: 0 auto;
      width: 14vw;
      padding: 0.6vw 1vw !important;
    }

    button {
      font-size: 5vw;
      padding: 0 !important;
      text-transform: uppercase;
      font-weight: 600 !important;
  
      @media screen and (min-width: 769px) {
        font-size: 2vw;
      }
      @media screen and (min-width: 1048px) {
        font-size: 1.3vw;
      }
    }
  }
  

}